/* PORTFOLIO NAVIGATION */

.portfolio-nav {
    padding-top: 60px;
  padding-bottom: 60px; 
  @include tablet {
    padding-top: 60px;
  padding-bottom: 60px; 
  }
  @include desktop {
  padding-top: 60px;
  padding-bottom: 60px; 
  }
  
}

.portfolio-nav-list {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 8px;
  row-gap: 15px; 



  @include tablet {
    margin-bottom: 30px;
  display: flex;
  justify-content: center; 
  }
  @include desktop {
    margin-bottom: 50px;
  display: flex;
  justify-content: center;
  }
  
}

.portfolio-nav-btn:not(:last-child) {
  margin-right: 8px;
}

.portfolio-nav-btn-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  cursor: pointer;
  padding: 6px 22px;
  background: var(--background-color);
  border-radius: 4px;
  border-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--white-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
