/* PORTFOLIO PAGE */

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  width: 100%;
  position: relative;
  
  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 60px) / 3);
  }
  // max-width: 370px;
  // margin-right: 30px;
  // margin-bottom: 30px;
  // background: var(--white-text-color);

  // &:nth-child(3n + 3) {
  //   margin-right: 0px;
  // }
  // &:nth-last-child(-n + 3) {
  //   margin-bottom: 0px;
  // }
}

.portfolio-top-text {
  position: absolute;
  top: 0;
  padding: 63px 24px;
  height: 100%;
  overflow: auto;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .portfolio-link:hover & {
    transform: translateY(0);
  }
}

.portfolio-top-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.conteiner-portfolio {
  flex-grow: 1;

  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}

.portfolio-texst {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--second-gray-text);
}
