/* MOD.WINDOW */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 300px;
  max-height: auto;
  padding: 40px;

  background-color: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms linear;
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0);
  }

  @include mobile {
    width: 450px;
    height: 609px;
  }
  @include tablet {
    width: 450px;
    height: 609px;
  }
  @include desktop {
    width: 528px;
    height: 581px;
  }
}

.modal-close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: var(--white-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    fill: var(--accent-color);
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

/* ! */

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 12px;

  @include desktop {
    line-height: 1.15;
  }
}

.modal-input {
  width: 100%;
  height: 40px;
  background: transparent;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--main-text-color);
  outline: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--second-gray-text);
  }
  &:focus {
    border-color: var(--accent-color);
  }
}

.modal-field {
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
  margin-top: 4px;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  .modal-input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-lable {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-gray-text);
}

.modal-text {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background: transparent;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    outline: transparent;
  }

  @include desktop {
    font-size: 12px;
    line-height: 1.16;
  }
}

.modal-field-comment {
  margin-bottom: 20px;
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  min-width: 200px;
  height: 50px;
  padding: 10px 55px;
  margin: 0 auto;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.check-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  letter-spacing: 0.03em;
  color: var(--second-gray-text);
  gap: 10px;
  @include mobile {
    font-size: 12px;
    line-height: 1.16;
    gap: 0;
  }
  @include tablet {
    font-size: 12px;
    line-height: 1.16;
  }
  @include desktop {
    font-size: 14px;
    line-height: 1.71;
  }
}

.check-text a {
  color: var(--accent-color);
  font-size: 11px;
  line-height: 1.16;
  @include desktop {
    font-size: 14px;
    line-height: 1.71;
  }
}

.check-text {
  justify-content: center;
  align-items: center;
}

.modal-check {
  margin-bottom: 30px;
}
/* .check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  margin-right: 8px;
}

.input-check:checked + .check-text::before {
  background-color: var(--accent-color);
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
} */

.check-text span {
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  margin-right: 8px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;

  .input-check:checked + & {
    background-color: var(--accent-color);
    border: none;
  }
}

.check-icon {
  fill: transparent;

  .input-check:checked + .check-text & {
    fill: var(--white-text-color);
  }
}
