:root {
  --main-text-color: #212121;
  --second-gray-text: #757575;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
  --background-color: #f5f4fa;
  --typical-margin: 30px;
  --icon-color-gray: #afb1b8;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
